html {height:100%;}
body {height:100%;
padding: 0%; margin: 0%;
background-image: url(wallpaper_mmo.jpg);
width: auto;
height: auto;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position-x: center;
color: whitesmoke;
}

.inscription{

    margin-top: 10%;
    background-color: rgb(0, 0, 0, 0.650);
    border-radius:15%;

}

.connexion{

    margin-top: 10%;
    background-color: rgb(0, 0, 0, 0.650);
    border-radius:15%;

}

.presentation{

    margin-top: 10%;
    background-color: rgb(0, 0, 0, 0.650);
    border-radius:15%;

}

.fullstack{

    margin-top: 2%;
    background-color: rgba(245, 237, 237, 0.65);
    border-radius:15%;
    color: #000;

}


.button{

    width:120px;
    height:50px;
    background:#131414;
    box-shadow:2px 2px 8px rgb(88, 88, 88);
    font:bold 15px Arial;
    border-radius:15%;
    color:rgb(248, 248, 248);
    cursor: pointer;
    text-align: center;
}