html {height:100%;}
body {height:100%;
padding: 0%; margin: 0%;
background-image: url();
width: auto;
height: auto;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position-x: center;
}

.containeur{

    max-width: 100%;
    max-height: 100%;
}

.profil{

    width: auto;
    height: auto;
    margin-top: 1%;
    margin-left: 1%;
    
}

.info{

    text-decoration: underline;
    background-color: rgba(224, 140, 12, 0.65);
    border-radius:15%;
    border-style: ridge;
}

.inventaire{

    width: auto;
    height: auto;
    margin-top: 2%;
    margin-left: 1%;
    
}